html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    scroll-behavior: smooth;
} 

#nav-links {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr 1fr 300px;
    grid-template-rows: 70px;
    width: 100%;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    ". home-link about-link projects-link contact-link .";
}

#home-link {
    grid-area: home-link;
}

#about-link {
    grid-area: about-link;
}

#projects-link {
    grid-area: projects-link;
}

#contact-link {
    grid-area: contact-link;
}

.link {
    color: black;
}


#welcome-section {
    height: 568px;
    width: 100%;
    margin-top: 50px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 568px;
    grid-template-areas:
    "welcome-text headshot";
    margin-bottom: 0;
}

#headshot {
    grid-area: headshot;
    align-self: center;
    margin-left: 50px;
    border-radius: 250px;
    height: 300px;
    grid-area: headshot;
    box-shadow: 0px 1px 20px 3px #888888;
    justify-self: start;
}

#welcome-text {
    height: 568px;
    width: 100%;
    justify-items: center;
    align-items: center;
    grid-area: welcome-text;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 210px 150px 190px;
    grid-template-areas: 
    "hello"
    "my-name"
    "I-am";
}

#welcome-text h1 {
    font-size: 70px;
    font-weight: bold;
}

#hello {
    grid-area: hello;
    align-self: end;
    justify-self: end;
}

#my-name {
    grid-area: my-name;
    justify-self: end;
}

#I-am {
    grid-area: I-am;
    align-self: start;
    justify-self: end;
} 

#skills {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(77, 77, 77));
    height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 280px;
    grid-template-areas: 
    "skills-header"
    "skills-icons";
    align-items: center;
    justify-items: center;
}

#skills-icons {
    display: grid;
    grid-area: skills-icons;
    grid-template-columns: 170px 170px 170px 170px 170px;
    grid-template-rows: 120px;
    grid-template-areas: 
    "html css bootstrap javascript react";
    align-items: center;
    justify-items: center;
}

#skills-header {
    grid-area: skills-header;
    color: white;
    justify-content: center;
}

#skills-header-text {
    font-size: 45px;
    font-weight: bold;
}

#html {
    grid-area: html; 
    height: 120px;   
}

#css {
    grid-area: css;
    height: 120px;
}

#bootstrap {
    grid-area: bootstrap;
    height: 120px;
}

#javascript {
    grid-area: javascript;
    height: 120px;
}

#react {
    grid-area: react;
    height: 120px;
}

#about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 400px;
    grid-template-areas: 
    "about-heading ."
    "about-p about-pic";
}

#about-heading {
    grid-area: about-heading;
    grid-column: 1 / span 2;
    font-size: 100px;
    font-weight: bold;
    justify-self: center;
    align-self: center;
    font-size: 45px;
}

#about-p {
    grid-area: about-p;
    font-size: 20px;
    text-align: center;
    align-self: center;
    margin-left: 200px;
    margin-right: 40px;
}

#about-p p {
    text-align: right;
}

.info-heading {
    font-size: 45px;
}

#about-pic {
    grid-area: about-pic;
    height: 350px;
    width: 500px;
    border-radius: 600px;
    box-shadow: 0px 1px 20px 3px #888888;
    margin-left: 20px;
    align-self: center;
}

#projects {
    display: grid;
    height: 500px;
    margin-top: 100px;
    background-color: rgb(184, 184, 184);
    grid-template-columns: 250px 1fr 1fr 1fr 1fr 250px;
    grid-template-rows: 120px 1fr;
    grid-template-areas: 
    ". . projects-header . . ."
    ". etchasketch expense scorekeeper wine-pairer .";
}

#projects-header {
    grid-area: projects-header;
    justify-self: center;
    align-self: center;
    grid-column: 3 / span 2;
}

#projects-header-text {
    font-size: 45px;
    font-weight: bold;
}

#etchasketch {
    grid-area: etchasketch;
}

#expense {
    grid-area: expense;
}

#scorekeeper {
    grid-area: scorekeeper;
}

#wine-pairer {
    grid-area: wine-pairer;
}

.project-title {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}


.project {
    align-self: center;
    justify-self: center;
}

.project-pic {
    filter: brightness(100%);
    transition: filter .3s ease;
    height: 175px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 2px #888888;
}

.img-hover-zoom {
    height: 200px;
} 

.img-hover-zoom {
    transition: transform .5s ease;
}

.img-hover-zoom:hover {
    transform: scale(1.03);
}

footer {
    color: white;
    height: 140px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(77, 77, 77));
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 140px;
    grid-template-areas:
    "githubLink emailLink linkedinLink";
    align-items: center;
    font-size: 30px;
}

a {
    text-decoration: none;
}

footer a {
    color: white;
}

footer a :visited {
    color: white;
}

#githubLink {
    grid-area: githubLink;
}

#linkedinLink {
    grid-area: linkedinLink;
} 

#emailLink {
    grid-area: emailLink;
}

.social-text {
    color: white;
    margin-left: 5px;
}


@media (max-width: 1420px) {
    #projects {
        display: grid;
        height: 500px;
        margin-top: 100px;
        background-color: rgb(184, 184, 184);
        grid-template-columns: 100px 1fr 1fr 1fr 1fr 100px;
        grid-template-rows: 120px 1fr;
        grid-template-areas: 
        ". . projects-header . . ."
        ". etchasketch expense scorekeeper wine-pairer .";
    }
}

@media (max-width: 1200px) {
    #projects {
        display: grid;
        height: 500px;
        margin-top: 100px;
        background-color: rgb(184, 184, 184);
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 120px 1fr;
        grid-template-areas: 
        ". projects-header . ."
        "etchasketch expense scorekeeper wine-pairer";
    }

    #projects-header {
        grid-column: 2 / span 2;
    }

    .project-pic {
        height: 160px;
    }
}

@media (max-width: 1064px) {


    #nav-links {
        display: grid;
        grid-template-columns: 200px 1fr 1fr 1fr 1fr 200px;
        grid-template-rows: 70px;
        width: 100%;
        align-items: center;
        justify-items: center;
        grid-template-areas: 
        ". home-link about-link projects-link contact-link .";
    }

    #skills-icons {
        display: grid;
        grid-area: skills-icons;
        grid-template-columns: 120px 120px 120px 120px 120px;
        grid-template-rows: 120px;
        grid-template-areas: 
        "html css bootstrap javascript react";
        align-items: center;
        justify-items: center;
    }
    
    #about-pic {
        height: 250px;
        width: 375px;
    }

    #about-p {
        margin-left: 30px;
    }

    #html {
        grid-area: html; 
        height: 80px;   
    }

    #css {
        grid-area: css;
        height: 80px;
    }

    #bootstrap {
        grid-area: bootstrap;
        height: 80px;
    }

    #javascript {
        grid-area: javascript;
        height: 80px;
    }

    #react {
        grid-area: react;
        height: 80px;
    }
}


@media (max-width: 768px) {

    #nav-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 70px;
        width: 100%;
        align-items: center;
        justify-items: center;
        grid-template-areas: 
        "home-link about-link projects-link contact-link";
    }

    #skills {
        background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(77, 77, 77));
        height: 500px;
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 120px 380px;
        grid-template-areas: 
        "skills-header ."
        "skills-icons";
        align-items: center;
        justify-items: center;
    }

    #skills-icons {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px 125px;
        grid-template-areas:
        "html css"
        "bootstrap javascript"
        "react .";
    }

    .lang-icon {
        height: 25px;
    } 

    #skills-header {
        grid-area: skills-header;
        color: white;
        justify-content: center;
        grid-column: 1 /span 2;
    }

    #skills-header-text {
        font-size: 45px;
        font-weight: bold;
    }

    #html {
        grid-area: html; 
        height: 80px;   
    }

    #css {
        grid-area: css;
        height: 80px;
    }

    #bootstrap {
        grid-area: bootstrap;
        height: 80px;
    }

    #javascript {
        grid-area: javascript;
        height: 80px;
    }

    #react {
        grid-area: react;
        height: 80px;
        grid-column: 1 /span 2;
    }

    #about-me {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 150px 220px;
        grid-template-areas: 
        "about-heading"
        "about-p"
        "about-pic";
        background-color:white;
        width: 100%;
        justify-items: center;
        margin: 0;
    }

    #about-heading {
        grid-area: about-heading;
        font-size: 45px;
        font-weight: bold;
        align-self: center;
    }

    #about-p {
        grid-area: about-p;
        font-size: 16px;
        margin: 15px;
    }

    #about-p p {
        text-align: center;
    }

    .info-heading {
        font-size: 45px;
    }

    #about p {
        font-size: 30px;
    } 

    #about-pic {
        height: 175px;
        width: 250px;
        border-radius: 600px;
        box-shadow: 0px 1px 20px 3px #888888;
        margin-left: 0;
    }

    #projects {
        text-align: center;
        margin-top: 50px;
        background-color: rgb(202, 202, 202);
        display: grid;
        height: 1350px;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 300px 300px 300px 300px;
        grid-template-areas:
        "projects-header"
        "etchasketch"
        "expense"
        "scorekeeper"
        "wine-pairer";
    }

    #projects-header {
        grid-area: projects-header;
        align-self: center;
    }

    #projects-header-text {
        font-size: 45px;
        font-weight: bold;
    }


    .project-title {
        font-size: 25px;
        margin-bottom: 20px;
    }


    .project {
        border-radius: 30px;
        align-self: center;
    }

    .project-pic {
        filter: brightness(100%);
        transition: filter .3s ease;
        height: 175px;
        border-radius: 10px;
        box-shadow: 0px 1px 2px 2px #888888;
    }

    .img-hover-zoom {
        height: 200px;
    } 
 
    .img-hover-zoom {
        transition: transform .5s ease;
    }

    .img-hover-zoom:hover {
        transform: scale(1.03);
    }

    footer {
        color: white;
        height: 140px;
        width: 100%;
        background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(77, 77, 77));
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 40px 40px;
        grid-template-areas:
        "githubLink"
        "emailLink"
        "linkedinLink";
        align-items: center;
        font-size: 14px;
    }

    a {
        text-decoration: none;
    }

    footer a {
        color: white;
    }

    footer a :visited {
        color: white;
    }

    #githubLink {
        grid-area: githubLink;
    }

    #linkedinLink {
        grid-area: linkedinLink;
    } 

    #emailLink {
        grid-area: emailLink;
    }

    .social-text {
        color: white;
        margin-left: 5px;
    }
}

@media (max-width: 700px) {
    #welcome-section {
        margin-top: 0px;
        height: 568px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 240px 240px;
        grid-template-areas:
        "welcome-text"
        "headshot";
        margin-bottom: 0;
    }

    #headshot {
        margin-left: 0px;
        grid-area: headshot;
        align-self: center;
        border-radius: 250px;
        height: 200px;
        grid-area: headshot;
        box-shadow: 0px 1px 20px 3px #888888;
        justify-self: center;
    }
    

    #welcome-text {
        height: 100%;
        width: 100%;
        align-items: center;
        grid-area: welcome-text;
        font-size: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 80px 80px;
        grid-template-areas: 
        "hello"
        "my-name"
        "I-am"
    }

    #welcome-text h1 {
        font-size: 40px;
        font-weight: bold;
    }

    #hello {
        grid-area: hello;
        align-self: end;
        justify-self: center;
    }

    #my-name {
        grid-area: my-name;
        justify-self: center;
    }

    #I-am {
        grid-area: I-am;
        align-self: start;
        justify-self: center;
    } 
}

@media(max-width: 450px) {
    #about-me {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 120px 150px 300px;
        grid-template-areas: 
        "about-heading"
        "about-p"
        "about-pic";
        background-color:white;
        width: 100%;
        justify-items: center;
        margin: 0;
    }
}






















