html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
} 

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.nav-links {
    display:flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    grid-area: burger;
    transition: all 0.3s ease;
}

@media (max-width: 1024px) {
    .nav-links {
        display:flex;
        justify-content: space-around;
        width: 30%;
    }
}

@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: absolute;  
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:#bebebe;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0; 
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    #welcome-section {
        height: 568px;
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 240px 240px;
        grid-template-areas:
        "welcome-text"
        "headshot-div";
        margin-bottom: 0;
    }

    #headshot-div {
        grid-area: headshot-div;
        padding: 20px;
    }

    #headshot {
        border-radius: 250px;
        height: 200px;
        grid-area: headshot;
        box-shadow: 0px 1px 20px 3px #888888;
    }

    #welcome-text {
        height: 100%;
        width: 100%;
        justify-items: center;
        align-items: center;
        grid-area: welcome-text;
        font-size: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 80px 80px;
        grid-template-areas: 
        "hello"
        "my-name"
        "I-am"
    }

    #welcome-text h1 {
        font-size: 40px;
        font-weight: bold;
    }

    #hello {
        grid-area: hello;
        align-self: end;
    }

    #my-name {
        grid-area: my-name;
    }

    #I-am {
        grid-area: I-am;
        align-self: start;
    } 

    #skills {
        background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(77, 77, 77));
        height: 500px;
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 120px 120px 120px 120px;
        grid-template-areas: 
        "skills-header ."
        "html css"
        "bootstrap javascript"
        "react .";
        align-items: center;
        justify-items: center;
    }

    .lang-icon {
        height: 25px;
    } 

    #skills-header {
        grid-area: skills-header;
        color: white;
        justify-content: center;
        grid-column: 1 /span 2;
    }

    #skills-header-text {
        font-size: 45px;
        font-weight: bold;
    }

    #html {
        grid-area: html; 
        height: 80px;   
    }

    #css {
        grid-area: css;
        height: 80px;
    }

    #bootstrap {
        grid-area: bootstrap;
        height: 80px;
    }

    #javascript {
        grid-area: javascript;
        height: 80px;
    }

    #react {
        grid-area: react;
        height: 80px;
        grid-column: 1 /span 2;
    }

    #about-me {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 220px 220px;
        grid-template-areas: 
        "about-heading"
        "about-p"
        "pic-div";
        background-color:white;
        width: 100%;
        justify-items: center;
    }

    #about-heading {
        grid-area: about-heading;
        font-size: 45px;
        font-weight: bold;
        align-self: center;
    }

    #about-p {
        grid-area: about-p;
        font-size: 16px;
        text-align: center;
        margin: 15px;
    }

    .info-heading {
        font-size: 45px;
    }

    #about p {
        font-size: 30px;
    } 

    #pic-div {
        grid-area: pic-div;
        align-self: center;
    }

    #about-pic {
        height: 175px;
        width: 250px;
        border-radius: 600px;
        box-shadow: 0px 1px 20px 3px #888888;
    }

    #projects {
        text-align: center;
        margin-top: 50px;
        background-color: rgb(202, 202, 202);
        display: grid;
        height: 1350px;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 300px 300px 300px 300px;
        grid-template-areas:
        "projects-header"
        "etchasketch"
        "expense"
        "scorekeeper"
        "wine-pairer";
    }

    #projects-header {
        grid-area: projects-header;
        align-self: center;
    }

    #projects-header-text {
        font-size: 45px;
        font-weight: bold;
    }


    .project-title {
        font-size: 25px;
        margin-bottom: 20px;
    }


    .project {
        overflow: hidden;
        border-radius: 30px;
        align-self: center;
    }

    .project-pic {
        filter: brightness(100%);
        transition: filter .3s ease;
        height: 175px;
        border-radius: 10px;
        box-shadow: 0px 1px 2px 2px #888888;
    }

    .img-hover-zoom {
        height: 200px;
    } 
 
    .img-hover-zoom {
        transition: transform .5s ease;
    }

    .img-hover-zoom:hover {
        transform: scale(1.03);
    }

    footer {
        color: white;
        height: 100px;
        width: 100%;
        background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(77, 77, 77));
        text-align: center;
        display: grid;
        grid-template-columns: 75px 1fr 75px;
        grid-template-areas:
        "githubLink emailLink linkedinLink";
        align-items: center;
        font-size: 12px;
    }

    a {
        text-decoration: none;
    }

    footer a {
        color: white;
    }

    footer a :visited {
        color: white;
    }

    #githubLink {
        grid-area: githubLink;
    }

    #linkedinLink {
        grid-area: linkedinLink;
    } 

    #emailLink {
        grid-area: emailLink;
    }

    .social-text {
        color: white;
        margin-left: 5px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}



















