@media (max-width: 1024px) {
    .nav-links{
        width: 60%;
    }
}

@media (max-width: 1200px) {
    .project-pic {
        height: 175px;
    }

    #projects {
        text-align: center;
        margin-top: 30px;
        display: grid;
        height: 630px;
        grid-template-columns: 1fr 300px 300px 300px 1fr;
        grid-template-rows: 100px 250px 250px;
        grid-template-areas:
        ". . projects-header . ."
        ". etchasketch expense scorekeeper . "
        ". . wine-pairer . .";
    }
}

@media (max-width: 1050px) {
    #about-me {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 500px;
        grid-template-areas: 
        "about-text pic-div";
        height: 500px;
        background-color:white;
        width: 100%;
    }

    #about-p {
       font-size: 20px;
    }
}

@media (max-width: 860px) {
    #welcome-section {
        justify-self: center;
        width: auto;
        height: 600px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "welcome-text"
        "headshot"
        "contact-button";
    }

    #welcome-text {
        justify-items: center;
        justify-self: center;
        margin-left: 20px;
        height: 300px;
        width: auto;
        grid-area: welcome-text;
        margin-left: 0px;
        margin-left: 0px;
        font-size: 30px;
        display: grid;
        grid-template-rows: 100px 100px 100px;
        grid-template-areas: 
        "hello"
        "my-name"
        "I-am"
    }

    #hello {
        font-size: 20px;
    }

    #I-am {
        font-size: 20px;
        align-self: center;
        margin: 10px 0px 0px 0px;
    }

    #headshot {
        justify-self: center;
        margin-right: 0;
    }

    #projects {
        text-align: center;
        display: grid;
        height: 1200px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 250px 250px 250px 250px 1fr;
        grid-template-areas:
        "projects-header"
        "etchasketch"
        "expense"
        "scorekeeper"
        "wine-pairer";
    }

    #projects-header-text {
        margin-top: 40px;
    }

    #skills {
        margin-top: 30px;
        padding: 50px;
        background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(77, 77, 77));
        height: 600px;
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px 150px 150px;
        grid-template-areas: 
        ". skills-header ."
        "html css bootstrap"
        "javascript . react";
        align-items: center;
        justify-items: center;
    }

    #about-me {
        text-align: center;;
        justify-items: center;
        height: 700px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "about-text"
        "pic-div";
    }

    #about-p {
        font-size: 17px;
        margin: 30px;
    }

    #about-pic{
        justify-self: center;
        margin-left: 0;
    }

}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:  rgb(218, 218, 218);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

    #contact {
        color: white;
        font-size: 20px;
    }

    #contact .social-text {
        display: none;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}





